# Traefik Configuration
api:
  dashboard: true
  insecure: false

providers:
  docker:
    exposedByDefault: false
    watch: true
    network: innexar-platform_traefik-net

  file:
    directory: /etc/traefik/dynamic
    watch: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@innexar.app
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

log:
  level: INFO
  format: json

accessLog:
  format: json
  fields:
    defaultMode: keep
    headers:
      defaultMode: keep

metrics:
  prometheus:
    buckets: [0.1, 0.3, 1.0, 1.5, 5.0]
    addEntryPointsLabels: true
    addServicesLabels: true

# tracing:
#   serviceName: traefik
#   jaeger:
#     samplingServerURL: http://jaeger:14268/api/traces?service=traefik
#     localAgentHostPort: jaeger:14268
