apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nexus-data
  namespace: innexar-platform
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: artifactory
  namespace: innexar-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: artifactory
  template:
    metadata:
      labels:
        app: artifactory
    spec:
      containers:
      - name: artifactory
        image: releases-docker.jfrog.io/jfrog/artifactory-oss:latest
        ports:
        - containerPort: 8081
        env:
        - name: JF_SHARED_NODE_NAME
          value: "artifactory"
        - name: JF_ARTIFACTORY_IS_PRIMARY
          value: "true"
        - name: JF_SHARED_SECURITY_MASTERKEY
          value: "FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"
        - name: JF_SHARED_SECURITY_JOINKEY
          value: "EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE"
        volumeMounts:
        - name: artifactory-data
          mountPath: /var/opt/jfrog/artifactory
          subPath: artifactory-clean
        resources:
          requests:
            cpu: 1
            memory: 2Gi
          limits:
            cpu: 2
            memory: 4Gi
      volumes:
      - name: artifactory-data
        persistentVolumeClaim:
          claimName: nexus-data
---
apiVersion: v1
kind: Service
metadata:
  name: artifactory
  namespace: innexar-platform
spec:
  selector:
    app: artifactory
  ports:
  - port: 8081
    targetPort: 8081
