apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: keycloak-data
  namespace: innexar-platform
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: innexar-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:latest
        args: ["start", "--http-port=8080", "--hostname-strict=false", "--health-enabled=true"]
        ports:
        - containerPort: 8080
        env:
        - name: KC_DB
          value: "postgres"
        - name: KC_DB_URL
          value: "jdbc:postgresql://postgres-keycloak:5432/keycloak"
        - name: KC_DB_USERNAME
          value: "keycloak"
        - name: KC_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: keycloak-secret
              key: KC_DB_PASSWORD
        - name: KC_HTTP_ENABLED
          value: "true"
        - name: KC_HTTP_PORT
          value: "8080"
        - name: KC_HTTPS_ENABLED
          value: "false"
        - name: KC_PROXY
          value: "edge"
        - name: KC_PROXY_HEADERS
          value: "xforwarded"
        - name: KC_ADMIN
          valueFrom:
            secretKeyRef:
              name: keycloak-secret
              key: KC_ADMIN
        - name: KC_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: keycloak-secret
              key: KC_ADMIN_PASSWORD
        - name: JAVA_OPTS_APPEND
          value: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0"
        volumeMounts:
        - name: keycloak-data
          mountPath: /opt/keycloak/data
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: 2
            memory: 2Gi
      volumes:
      - name: keycloak-data
        persistentVolumeClaim:
          claimName: keycloak-data
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: innexar-platform
spec:
  selector:
    app: keycloak
  ports:
  - port: 8080
    targetPort: 8080

